# Virtual Environment
EnvHPC/

# Output results
out/
*.sh
*.txt
*.err
*.job
*.csv
*.out
*.gif
*.data
*/longRuns

# Compiled codes and binaries
*.o
lbm
lbm_MPI
lbm_CUDA
lbm_MPI_OMP

# Helper Python scripts
*.py